@keyframes scrollAnimated {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.animatedWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.animatedScroll {
    display: flex;
    gap: 10rem;
    min-width: 200%;
    flex-shrink: 0;
    white-space: nowrap;
    animation: scrollAnimated 10s ease-in-out infinite alternate;
}
